*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
li{
    list-style: none;
}
.contain{
    width:85%;
    margin:0 auto;
}
.main-head{
    background: url(images/top-bg.jpg)repeat-x;
    width:100%;
    height:94px;
    float: left;
    display: block;
    text-align: center;
    color:#fff;
    position: fixed;
}
.main-head .logo,.main-head .templateid,.main-head .z-s,.main-head .price,.main-head .buynow,.main-head .z-s .share,.main-head .z-s .zan{
    float: left;
    display: block;
    height:90px;
    line-height: 90px;
    text-align: left;
    padding-left:10px;
}
.main-head img{
    vertical-align: middle;
}
.main-head .logo{
    width:20%;
    border-right:1px solid #999;
}
.main-head .templateid{
    font-size: 12px;
    width:30%;
    border-right:1px solid #999;
}
.main-head .templateid a{
    color:#fff;
}
.main-head .z-s{
    width:20%;
    border-right:1px solid #999;
    font-size: 12px;
    position: relative;
}
.main-head .z-s .share,.main-head .z-s .zan,.main-head .z-s .more{
    float: left;
    display: block;
    text-align: left;
    padding:0 10px;
    border-radius: 3px;
}
.main-head .z-s .zan{
    background-color: #1C90F6;
    height:20px;
    line-height: 20px;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
}
.main-head .z-s .share{
    background-color: chocolate;
    height:20px;
    line-height: 20px;
    width:55px;
    position: absolute;
    left:30%;
    top:50%;
    transform: translate(-30%,-50%);
}
.main-head .z-s .more{
    width:34px;
    height: 20px;
    background:#fff;
    color:#000;
    font-weight: bold;
    position: absolute;
    left:65px;
    top:50%;
    transform: translate(0,-50%);
    text-align:center;
}
.main-head .z-s .more .arrow{
    border-width:5px;
    border-style:solid;
    border-color: transparent #fff transparent transparent;
    position: absolute;
    left:-9px;
    top:50%;
    transform: translate(0,-50%);
}
.main-head .z-s a{
    color:#fff;
    text-decoration: none;
}
.main-head .z-s ul{
    width:120px;
    line-height: normal;
    border:1px solid #999;
    background: #fff;
    margin-left:-10px;
    display: none;
}
.main-head .z-s .share:hover .share-list{
    display: block;
}
.main-head .z-s ul li{
    padding:5px 0;
    padding-left:10px;
}
.main-head .z-s ul li:last-child{
    text-align: right;
    border-top:1px solid #999;
    padding-right:8px;
}
.main-head .z-s ul li a{
    color:#1C90F6;
}
.main-head .buynow{
    margin-left:90px;
}
.main-head .price{
    font-size:18px;
    font-weight: bold;
}
.sm-head{
    width:100%;
    height:99px;
    line-height: 99px;
    position: fixed;
    top:94px;
    background: #fe7676;
    z-index: -1;
}
.sm-head .sm-logo{
    display: block;
    float:left;
}
.sm-head .sm-logo img{
    vertical-align: middle;
}
.sm-head ul{
    float:right;
    display: block;
}
.sm-head ul li{
    display: inline-block;
}
.sm-head ul li:first-child,.sm-head ul li:hover{
    background-color: #000;
    padding-bottom:10px;
}
.sm-head ul li a{
    color:#fff;
    text-decoration: none;
    padding:0 10px;
    font-size: 12px;
}
.banner{
    width:100%;
    height:696px;
    background: url(images/gall_pic1.jpg)no-repeat;
    position: absolute;
    top:184px;
    z-index: -2;
}
.banner .banner-bottom{
    position: absolute;
    left:50%;
    top:85%;
    transform: translate(-50%,0);
    text-align: center;
}
.banner .original{
    background: #fe7676;
    padding:20px 25px;
}
.banner .original p:first-child{
    color:#fff;
    font-size: 62px;
    font-weight: 700;
}
.banner .original p:last-child{
    font-size: 22px;
    color:#fff;
    text-transform: uppercase;
}
.banner .prev-next{
    background: #2f343a;
    height:50px;
    line-height: 50px;
}
.banner .prev-next .prev,.banner .prev-next .next{
    position: relative;
    display: inline-block;
    width:26px;
    height:26px;
    border:1px solid #585c61;
    color:#fff;
    border-radius: 50%;
    text-align: center;
    margin:12px 10px 0 10px;
    padding-top:3px;
}
.banner .prev-next .prev:hover,.banner .prev-next .next:hover{
    color:#fe7676;
    border-color: #fe7676;
}
.products{
    position: absolute;
    top:1050px;
    z-index: -2;
    margin-bottom:50px;
}
.products li{
    float:left;
    display: block;
    width:22%;
    text-align: center;
    margin-right:3%;
}
.products li h3{
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    color: #2f343a;
}
.products li a{
    position: relative;
    display: block;
    margin-bottom: 43px;
    margin-top:35px;
    transition: all 0.6s ease;
    transition-delay: 1.5s;
}
.products li a span{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
}
.products li:nth-child(2) img{
    transform: rotate(90deg);
}

.products li:nth-child(3) img{
    transform: rotate(270deg);
}

.products li:last-child img{
    transform: rotate(180deg);
}

.products li p{
    line-height: 1.6;
    color: #9c98a0;
}
.products li button{
    margin-top:50px;
    width:90px;
    height:50px;
    background: #2f343a;
    color: #ffffff;
    border: none;
}
.products li button:hover{
    background:#fe7676;
}
.products li button a{
    display: block;
    color:#fff;
    text-decoration:none ;
    margin :20px 0;
}
.about-us{
    width:100%;
    position: absolute;
    top: 1700px;
    text-align: center;
    background:#fe7676;
    padding-bottom:100px;
}
.about-us h3{
    margin-top:80px;
    line-height: 40px;
    font-size: 40px;
    color:#fff;
}
.about-us h1{
    font-size: 300px;
    color:#fff;
    text-transform: uppercase;
}
.about-us p{
    font-size: 22px;
    letter-spacing: 1px;
    color: #ffcaca;
    margin-bottom:50px;
}
.about-us h4 a{
    background: url(images/line_hor.png)repeat-x 0 bottom;
    color:#fff;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}
.gallery{
    width:100%;
    background: #2f343a;
    position: absolute;
    top:2500px;
    padding-top:100px;
    padding-bottom:100px;
}
.gallery h2{
    margin-bottom: 73px;
    font-size: 42px;
    color:#fff;
    text-align: center;
}
.gallery .col-lg-3{
    width:25%;
    float:left;
    display: block;
    text-align: center;
}
.gallery .col-lg-3>p{
    line-height: 1.6;
    font-size: 14px;
    color: #9c98a0;
    margin:30px 0;
}
.gallery button{
    height:100px;
    width:100px;
    border-radius: 50%;
    border: 1px solid #4d5156;
    background: #2f343a;
    transition: 1s;
}
.gallery button:hover {
    background-color:#fff;
}
.gallery button:hover a{
    color:#000;
}
.gallery button a{
    color:#fff;
    text-decoration: none;
}
.gallery .pic{
    position: relative;
}
.gallery .pic .time{
    display: block;
    position: absolute;
    top: 165px;
    left: 50%;
    transform: translate(-50%,0);
    width:124px;
    height:124px;
    border-radius: 50%;
    border:1px solid transparent;
    background: #fe7676;
    color: #fff;
    font-size: 10px;
    transition: 0.5s;
}
.gallery .pic .time:hover{
    position: absolute;
    left:50%;
    top:50%;
    transform: translate(-50%,-50%);
    background-color: #000000;
    color:#fff;
}

.gallery .pic .time p{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}
.gallery .pic .time span{
    color:#fff;
    font-size: 42px;
}
.show-state{
    width:100%;
    position: absolute;
    top:3300px;
    background-color: #faf6f1;
    padding-bottom:50px;
    padding-top:50px;
}
.show-state li{
    width:33%;
    display: block;
    float:left;
}
.show-state li h2{
    margin-bottom: 66px;
    font-size: 42px;
    line-height: 40px;
    color: #403947;
}
.show-state li p{
    font-size: 10px ;
    line-height: 16px;
    color: #403947;
    text-transform: uppercase;
}
.show-state form label span{
    display: list-item;
    font-size: 10px;
    color:red;
    font-weight: bold;
}
.show-state form .btns,.show-state form label{
    float:left;
    display: block;
}
.show-state a{
    text-decoration: none;
    color: #fe7676;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.show-state form .btns a{
    margin-left:30px;
    color: #fe7676;
    font-weight: bold;
    font-size: 22px;
}
.show-state form .btns:hover a{
    color:#2f343a;
}
.show-state form input{
    font-size:10px;
    line-height: 16px;
    border:1px solid #faf6f1;
    background: #faf6f1;
    padding: 5px 0 16px;
    width: 217px;
    outline: none;
}